.contenedor-header{
    margin-top: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border-radius: 20%;
}
.nav2 {
    max-width: 1100px;
    margin: auto;
    background: #121010;
    background: linear-gradient(90deg, rgba(18, 16, 16, 0.62) 0%, rgba(217, 219, 218, 1) 50%, rgba(130, 127, 108, 0.69) 100%);
    padding: 10px;
    border-radius: 10px;
}

.main-nav {
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.main-nav li {
    margin-left: 5%;
    position: relative;
}

.main-nav ul button {
    margin-top: 10px;
    margin-left: 8%;
    margin-bottom: 3%;
    
}

.main-nav ul button a {
    font-weight: 600;
    color: #000000;
    margin-right: 10px;
    text-decoration: none;
}

.main-nav ul button:hover {
    border-radius: 10px;
    transform: translateY(4px);
    box-shadow: 0 2px #2980b9;
}

.main-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 20px;
}

.main-nav a:hover {
    border-radius: 5px;
    background-color: #575555;
}

.dropdown-menu {
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    display: none;
    min-width: 170px;
}

.dropdown-menu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-menu li a:hover {
    background-color: #666;
}

.dropdown:hover .dropdown-menu {
    display: block;
}





.contenedor-footer {
    width: 100%;
    padding: 40px 0;
    background-color: #ffff;
    color: #4b4c4d;
}

.contenedor-footer footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
}

.contenedor-footer footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: (1rem, 2vw, 2rem);
    line-height: 1.6;
    margin-bottom: 0;
}

.contenedor-footer footer li {
    padding: 0 10px;
}

.contenedor-footer footer ul a {
    color: inherit;
    text-decoration: none;
}

.contenedor-footer footer .list-inline li a {
    font-size: clamp(1rem, -1.5rem + 8vw, 1.8rem);
}

.contenedor-footer footer ul a:hover {
    opacity: 1;
}

.contenedor-footer footer .social {
    text-align: center;
    padding-bottom: 25px;
}

.contenedor-footer footer .social a>img {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;

}

.contenedor-footer footer .social>a:hover {
    opacity: 0.9;
}

.contenedor-footer footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: clamp(0.8rem, -1.5rem + 8vw, 1rem);
    color: #000000;
    margin-bottom: 0;
}


.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    animation: bounce 2s infinite;
}

.whatsapp-button img {
    width: 80px;
    height: 80px;
}



.text_trucado2 {
  white-space: nowrap;         /* No permite salto de línea */
  overflow: hidden;            /* Oculta el texto que se pasa del ancho */
  text-overflow: ellipsis;     /* Agrega los "..." al final */
  width: 200px;                /* Ajusta el ancho deseado */
  display: block;              /* Asegura que se respete el ancho */
}

.text_trucado {
  display: -webkit-box;
  -webkit-line-clamp: 2;       /* Número de líneas visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
